#actors {

  .actors {
    display: flex;
    align-items: flex-start;
    overflow-x: auto;

    &--card {
      margin: 20px 20px 20px 0;
      text-align: start;

      h4 {
        color: white;

      }
      p{
        color: white;
      }
    }
  }
}
