#person {
  padding: 50px 0 ;
  .person {
    color: white;
    display: flex;
    padding: 5% 0 5% 0;
    justify-content: space-between;

    &--img {
&__info{
  margin: 20px 0;

  h2{
    margin: 20px 0;
  }
  h5{
    font-weight: 400;
    margin: 0 0 20px 0;
  }
}
    }

    &--actor {
      margin: 0 0 0 10%;
      width: 60%;
      h3{
        margin: 20px 0;
      }
      span {
        color: blue;
        font-weight: 500;
        cursor: pointer;
      }
    }
  }
}